body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#00000050, #00000050), url(../img/background.webp), linear-gradient(to right, #84c4ff, #ea23ff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-container {
  max-width: 42em;
}