@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?1yg8nm');
  src:  url('icomoon.eot?1yg8nm#iefix') format('embedded-opentype'),
    url('icomoon.ttf?1yg8nm') format('truetype'),
    url('icomoon.woff?1yg8nm') format('woff'),
    url('icomoon.svg?1yg8nm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-itaku:before {
  content: "\e900";
}
.icon-bluesky:before {
  content: "\e901";
}
.icon-mx:before {
  content: "\e902";
}
.icon-fa:before {
  content: "\e903";
}
